.menu__icon {
   display: none;
}

@media (max-width: 830px) {

   .menu__icon {
      z-index: 10;
      display: block;
      position: relative;
      min-width: 30px;
      height: 18px;
      cursor: pointer;
      margin-left: 20px;

      & span {
         top: 50%;
         transform: scale(1) translate(0, -50%);
      }

      &::before {
         top: 0;
      }

      &::after {
         bottom: 0;
      }

      &::before,
      &::after {
         content: '';
      }

      & span,
      &::before,
      &::after {
         left: 0;
         position: absolute;
         height: 10%;
         width: 100%;
         transition: all 0.3s ease 0s;
         background-color: #fff;
      }

      &.active {
         & span {
            transform: scale(0) translate(0, -50%);
         }

         &::before {
            top: 50%;
            transform: rotate(-45deg) translate(0, -50%);
         }

         &::after {
            top: 50%;
            transform: rotate(45deg) translate(0, 50%);
         }
      }
   }

   .header__menu {
      content: '';
      position: fixed;
      z-index: 4;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.834);
      padding: 30px;
      padding-top: 100px;
      transition: left 0.3s ease 0s;
      overflow: auto;
      text-align: center;
      justify-content: center;

      &.active {
         left: 0;

         & .menu__link {
            opacity: 1;
            line-height: 1.5;
         }
      }
   }

   .menu__list {
      flex-wrap: nowrap;
      display: block;
   }

   .menu__list>li {
      font-size: 34px;


      &:hover {
         text-decoration: underline;
      }

      &:not(:last-child) {
         margin-bottom: 30px;
      }
   }
}