.header {
   margin-top: 31px;
   position: fixed;
   width: 100%;
   height: 64px;
   left: 0;
   top: 0;
   z-index: 100;
   transition: all 0.3s ease 0s;
}

.header.scroll {
   transition: all 0.5s ease 0s;
   background-color: rgba(28, 28, 28, 0.876);
   margin-top: 0px;
   justify-content: center;
   padding-top: 10px;
   height: 68px;

   & .menu__link {
      opacity: 1;
   }
}

.header__container {
   display: flex;
   min-height: 48px;
   align-items: center;
   padding: 0 32px;

   @media (max-width : $breakpoint600) {
      padding: 0 16px;
   }

}

//==================logo==================
.header__logo {
   display: flex;
   min-height: 36px;
   min-width: 87px;
   gap: 4px;
   position: relative;
   z-index: 100;
}

//==================menu==================

.header__menu {
   display: flex;
   margin-left: 182px;
   padding: 0 23px;

   @media (max-width : $breakpoint1438) {
      margin-left: 140px;
   }

   @media (max-width : $breakpoint1200) {
      margin-left: 100px;
      padding: 0 15px;
   }

   @media (max-width : $breakpoint1000) {
      margin-left: 0px;
      padding: 0 5px;
   }
}

.menu__list {
   display: flex;
   gap: 54px;
   flex-wrap: wrap;
   justify-content: center;

   @media (max-width : $breakpoint1438) {
      gap: 44px;
   }

   @media (max-width : $breakpoint1200) {
      gap: 20px;
   }

   @media (max-width : $breakpoint1000) {
      gap: 0;
   }

   @media (max-width : $breakpoint600) {
      font-size: 20px;
   }

}

.menu__link {
   font-weight: 300;
   line-height: 1.5;
   text-transform: capitalize;
   color: #FFFFFF;
   opacity: 0.7;

   @media (max-width : $breakpoint1000) {
      padding: 5px 8px;
   }

   &:hover {
      opacity: 1.0;
   }
}

//==================hi==================

.header__hi {
   display: flex;
   align-items: center;
   flex-grow: 1;

   @media (max-width : $breakpoint600) {
      width: 100%;
   }
}

.hi__message {
   display: flex;
   flex-direction: column;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.5;
   text-transform: capitalize;
   align-items: flex-end;
   color: #FFFFFF;
   margin-left: auto;
}

.hi__text {
   opacity: 0.5;
}

.hi__name {
   opacity: 1;
   font-weight: 600;
   min-width: 88px;
}

.hi__image {
   margin-left: 8px;
   width: 48px;
   height: 48px;

   @media (max-width : $breakpoint600) {
      width: 38px;
      height: 38px;
   }

   & img {
      @media (max-width : $breakpoint600) {
         width: 38px;
         height: 38px;
      }
   }
}